global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	maxconn 4096
	user haproxy
	group haproxy
	daemon
defaults
	log	global
	mode	tcp
	option	tcplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	contimeout	5000
	clitimeout	5000
	srvtimeout	5000
listen  admin_stat
        bind 0.0.0.0:8888
        mode    http
        stats   refresh 30s
        stats uri /haproxy_stats
        stats realm Haproxy\ Statistics
        stats auth admin:admin
        stats hide-version
listen  httpserver 0.0.0.0:8080
        mode tcp
        balance roundrobin
        server sample-svr 127.0.0.1:8800 check inter 2000 rise 2 fall 3
